*{background: #dedcdc;}

.card{
  //  margin-left: 18%;
    width: 500px;
    height: 650px;
    margin-top: 2rem;
    
}    

.left{
    font-size: 5px;
}

.description {
    // overflow: hidden;
    //  text-overflow: ellipsis;
    //  display: -webkit-box; 
    //  -webkit-line-clamp: 2; 
    //  -webkit-box-orient: horizontal; 
 
    text-overflow: ellipsis;
    width: 550px;
    display: block;
    overflow: hidden;
}

.img{

 //   margin-left: 15%;
    margin-top: 2rem;
    
}


.all{
    margin-top: 5%;
    display: flex;
    width: 80%;
    border: 3px solid lightgray;
    margin-left: 10%;
  
}


