*{background: #efeaea;}

.card{
    margin-top: 2rem;
    
}    

.left{
    font-size: 5px;
}

.description {
    text-overflow: ellipsis;
    width: 500px;
    display: block;
    overflow: hidden;
}

.img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}


.all{
    margin-top: 5%;
    display: flex;
    width: 80%;
    border: 3px solid lightgray;
    margin-left: 10%;
  
}


