

.card{
    margin-top: 2rem;
    
}    

.left{
    font-size: 5px;
    cursor: pointer;
}

.description {
    text-overflow: ellipsis;
    width: 500px;
    display: block;
    overflow: hidden;
}

.img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}


.all{
    margin-top: 5%;
    display: flex;
    width: 80%;
    border: 2px solid lightgray;
    border-radius: 0.5rem;
    margin-left: 10%;

    box-shadow: 2px 9px 14px 4px rgba(0,0,0,0.51);
    -webkit-box-shadow: 2px 9px 14px 4px rgba(0,0,0,0.51);
    -moz-box-shadow: 2px 9px 14px 4px rgba(0,0,0,0.51);
  
}


