.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    margin-right: 0.9rem;
}

.description {
    overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box; 
     -webkit-line-clamp: 3; 
     -webkit-box-orient: horizontal; 
    height: 200px;

}

.cards {
    margin: 1rem;
    min-width: 360px;
    max-width: 360px !important;
    border: 1px solid lightgray;
    @media screen and (max-width:768px){
        margin: 0.4rem;
    }
}



::ng-deep {
    .p-card .p-card-title {
    color: rgb(66, 66, 66);
    font-size: 23.4px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
}
