<div>
    <app-layout>
    </app-layout>
</div>
<div class="button">
    <button (click)="toggleView('cards')"><i class="pi pi-table"></i></button>
    <button (click)="toggleView('table')"><i class="pi pi-bars"></i></button>
</div> <br>

<div *ngIf="(viewMode === 'cards' && productList.length > 0) " class="card-container" >
    <p-card appHighlight header="{{ product.title }}" [subheader]="product!.category!" styleClass="p-card-shadow" 
        *ngFor="let product of productList; let i = index;" class="card" [ngClass]="{'break-row': (i + 1) % 3 === 0 }">
        <ng-template pTemplate="header">
            <a (click)="route2productDetailComponent(product)">
                <img alt="Card" [src]="product.image" height="350px"
                    style="object-fit: fill; padding: 0.8rem; border-bottom: 2px solid rgba(165, 165, 165, 0.809);">
            </a>
        </ng-template>
    </p-card>
</div>


<div *ngIf="!productList.length">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>


<div *ngIf="(viewMode === 'table' &&  productList.length > 0) else emptyData">
    <div>
        <p-table appHighlight [value]="productList" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,25,50]"
            [scrollable]="true" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn pSortableColumn="id">{{ 'Id' }}<p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pResizableColumn pSortableColumn="title">{{ 'Title' }} <p-columnFilter type="text" field="title"
                            display="title"></p-columnFilter> <p-sortIcon field="title"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="category">{{ 'Category' }} <p-columnFilter type="text"
                            field="category" display="category"></p-columnFilter> <p-sortIcon
                            field="category"></p-sortIcon>
                    </th>
                    <th pResizableColumn pSortableColumn="price">{{ 'Price' }} <p-columnFilter type="boolean" field="id"
                            display="id"></p-columnFilter> <p-sortIcon field="price"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="description">{{ 'Description' }} <p-columnFilter type="text"
                            field="description" display="description"></p-columnFilter> <p-sortIcon
                            field="description"></p-sortIcon></th>
                    <th pResizableColumn pSortableColumn="image">{{ 'Image' }} <p-sortIcon field="image"></p-sortIcon>
                    </th>
                    <th pResizableColumn pSortableColumn="actions">{{ 'Actions' }} <p-sortIcon
                            field="actions"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product?.id}}</td>
                    <td>{{product?.title}}</td>
                    <td>{{product?.category | uppercase}}</td>
                    <td>{{product?.price | currency}}</td>
                    <td>{{product?.description}}</td>
                    <td class="img"><img [alt]="product?.image" [src]="product?.image" width="80px"
                            style="vertical-align: middle" />
                    </td>
                    <td>{{ product?.actions }}
                        <button (click)="show(product)" pButton pRipple type="button" label="Edit"
                            class="p-button-outlined p-button-secondary"></button> &nbsp;
                            <button (click)="deleteProduct(product.id)" pButton pRipple type="button" label="Delete"
                            class="p-button-outlined p-button-secondary"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>




    <app-product-table>
    </app-product-table>
</div>


<ng-template #emptyData>
</ng-template>